

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

.btn {
    padding: 9px 16px;
    border:none;
}

.btn-info.active, .btn-info{
    color: slategray;
    border: solid #54b6c6 1.2px;
    background-color: white;
    border-radius: 40px;
}

.event-class button span {
    background-color: #54b6c6;
    border-radius: 32px;
    color: black;
}

.events-plugin .event-list {
    position: static !important;
}

/* To overlay texts on background */
.text-overlay{
    position:relative
}

/*background image css class*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/*To prevent text selection while swiping the event*/
.events-plugin .event-list .event-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/*
* Styling for message shown in case no events are there for selected date
*/

.no-event-found {
    text-align: center;
}



/*
* Styling for adding transitions on main and sub views
*/

.main_view {
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    /*left: 90%; /* dont scroll till data loaded*/
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:white;

    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.final {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-enter {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    /*
    position: absolute;
    -webkit-transform: translateX
(0)
;
    transform: translateX(0);*/
}

.slide.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
