

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

.btn {
    padding: 9px 16px;
    border:none;
}

.btn-info.active, .btn-info{
    color: slategray;
    border: solid #54b6c6 1.2px;
    background-color: white;
    border-radius: 40px;
}

.event-class button span {
    background-color: #54b6c6;
    border-radius: 32px;
    color: black;
}

.events-plugin .event-list {
    position: static !important;
}

/* To overlay texts on background */
.text-overlay{
    position:relative
}

/*background image css class*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/*To prevent text selection while swiping the event*/
.events-plugin .event-list .event-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/*
* Styling for message shown in case no events are there for selected date
*/

.no-event-found {
    text-align: center;
}



/*
* Styling for adding transitions on main and sub views
*/

.main_view {
    position: relative;
    overflow: hidden;
}

.content {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.content.ng-enter,
.content.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.content.ng-enter {
    left: -300%;
}

.content.ng-enter-active {
    left: 0;
}

.content.ng-leave {
    left: 0;
}

.content.ng-leave-active {
    left: -200%;
}

