/* Plugin CSS */
.places-plugin .location-map .map-holder,
.events-plugin .location-map .map-holder{
	min-height:280px;
}
.map-layout1 .places-plugin .location-map .map-holder,
.map-layout2 .places-plugin .location-map .map-holder{
	padding-top:100px;
	position:absolute;
	bottom:0;
	width:100%;
	height:100%;
	left:0;
	background:#32373a;
	z-index:-1;
}
.events-plugin .event-info{
	margin-top:-2px;
}
.events-plugin .event-info p + p{
	margin-bottom:-1px !important;
}
.events-plugin .event-calendar-holder table{
	border:none;
	width:100%;
}
.events-plugin .event-calendar-holder table thead tr small{
	font-size:13px;
}
.events-plugin .event-calendar-holder table thead tr .btn strong{
	font-weight:100 !important;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	position:relative;
	max-width:100%;
	display:block;
	font-size:14px;
	line-height:22px;
}
.events-plugin .event-calendar-holder .btn-default{
	background:none !important;
}
.events-plugin .event-calendar-holder .btn-default i.glyphicon-chevron-left:before{
	top:0;
	font-family:'icomoon';
	content:'\e610';
	font-weight:700;
}
.events-plugin .event-calendar-holder .btn-default i.glyphicon-chevron-right:before{
	top:0;
	font-family:'icomoon';
	content:'\e625';
	font-weight:700;
}
.events-plugin .event-calendar-holder .disabled{
	opacity:0.6;
}
.events-plugin .event-calendar-holder .btn.btn-info{
	position:relative;
}
.events-plugin .event-calendar-holder .btn.btn-info:after{
	content:'';
	display:inline-block;
	width:38px;
	height:38px;
	margin-left:-19px;
	position:absolute;
	top:-2px;
	left:50%;
	box-shadow:0 0 0 1px #09a3ee;
	border-radius:100%;
}
.events-plugin .event-list{
	position:absolute;
	bottom:0;
	top:300px;
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
}
.events-plugin.long-month .event-list{
	top:340px;
}
.events-plugin .event-list .event-item{
	padding:10px;
	right:0;
	position:relative;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.events-plugin .event-list .event-item:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.events-plugin .event-list .event-item .icon-menu{
	font-size:25px;
	margin-top:10px;
}
.events-plugin .event-list .event-item .event-media{
	width:44px;
	height:44px;
}
.events-plugin .event-list .event-item .event-date h3{
	font-size:19px;
	line-height:19px;
}
.events-plugin .event-list .event-item .event-date h1{
	font-size:29px;
	line-height:25px;
	position:relative;
	top:4px;
}
.events-plugin .event-list .event-item .event-info h4{
	margin-top:7px;
}
.events-plugin .event-list .event-item .event-info{
	max-width:50%;
}
.events-plugin .event-list .event-item .event-info p{
	line-height:19px;
}
.events-plugin .event-list .event-item .calendar-icon{
	position:absolute;
	top:0;
	left:-71px;
	padding:25px 0;
	width:71px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.events-plugin .event-list .event-item .calendar-icon span{
	color:#fff !important;
	font-size:28px;
	position:relative;
	top:-7px;
}
.events-plugin .event-list .event-item.active{
	right:-71px;
}
.holder .events-plugin .info-text{
	position:absolute;
	width:100%;
	padding:0 20px;
	top:170px;
	color:#fff;
	text-align:center;
	z-index:2;
}
.events-plugin.event-layout3 .plugin-slider .plugin-slide{
	
}
.events-plugin.event-layout3 .plugin-slider .plugin-slide:after,
.events-plugin.event-layout4 .plugin-slider .plugin-slide:after{
	content:'';
	background:rgba(0,0,0,0.75);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.events-plugin.event-layout4 .plugin-slider .plugin-slide:after{
	background:rgba(255,255,255,0.75);
}
.events-plugin.event-layout4 .info-text p{
	color:#5f5f5f;
}

.holder .plugin-banner{
	position:relative;
	border-bottom:none !important;
}
.holder .info-bar,
.holder .info-circle{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	opacity:0.85;
	z-index:9;
}
.holder .info-bar{
	background:rgba(0,0,0,0.8);
}
.holder .info-circle{
	bottom:inherit;
	top:28px;
	left:50%;
	margin-left:-75px;
	width:150px;
	height:150px;
	text-align:center;
	border-radius:100%;
	background:#efefef;
}
.holder .info-circle.bg-white{
	background:rgba(255, 255, 255, 0.8);	
}
.holder .info-circle .info-circle-inner{
	margin-top:33px;
}
.holder .info-circle .info-circle-inner h1{
	font-size:50px;
	line-height:54px;
}
.holder .info-circle.small{
	width:110px;
	height:110px;
	margin-left:-55px;
}
.holder .info-circle.small .info-circle-inner{
	margin-top:11px;
}
.holder .info-bar p{
	max-width:100%;
}
.holder .info-bar .right-icon{
	margin-top:7px;
}
.holder .info-bar .pull-right .padded-icon{
	padding:5px;
	display:inline-block;
	width:30px;
	height:30px;
}
.holder .info-bar .pull-right span.icon{
	font-size:24px;
	vertical-align:middle;
}
.holder .info-bar .pull-right span.icon.icon-sm{
	font-size:14px;
	position:relative;
	top:-2px;
}
.holder .info-bar .pull-right.padded-icon span.icon{
	font-size:18px;
	vertical-align:middle;
}
/* End Plugin CSS */


/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

.btn {
    padding: 9px 8px;
    border:none;
}

.btn-info.active, .btn-info{
    color: slategray;
}

.event-class button span {
    background-color: #54b6c6;
    border-radius: 32px;
    color: black;
}

.events-plugin .event-list {
    position: static !important;
}

/* To overlay texts on background */
.text-overlay{
    position:relative
}

/*background image css class*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/*To prevent text selection while swiping the event*/
.events-plugin .event-list .event-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/*
* Styling for message shown in case no events are there for selected date
*/

.no-event-found {
    text-align: center;
}



/*
* Styling for adding transitions on main and sub views
*/

.main_view {
    position: relative;
    overflow: hidden;
}

.eventDate button {
    position: relative;
}

.eventDate button span:after {
    background-color: #355ACF;
    border-radius: 100%;
    padding: 3px;
    height: 1px;
    width: 1px;
    content: " ";
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 0 auto;
}

.eventDateNew button span:after {
  display:none;
}

.events-plugin .event-list .event-item .event-info.m-w-70{
    max-width: 70%;
}
.avoid-clicks {
	pointer-events: none;
}
.avoid-clicks-none {
	pointer-events: auto;
}

.glyphicon{
	pointer-events: auto;
}

.text-muted {
	color: rgba(119, 119, 119, 0.02) !important;
	pointer-events: none !important;
}

.text-muted::after {
	opacity: 0 !important;
	pointer-events: none !important;
}

.disableCircle{
	color: rgba(119, 119, 119, 0.02) !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
.avoid-clicks {
	pointer-events: none;
}