<!DOCTYPE html>
<html ng-app="eventsFeedPluginWidget">
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="../../../styles/bootstrap.css">
  <link rel="stylesheet" href="../../../styles/siteIcons.css">
  <link rel="stylesheet" href="../../../styles/helper.css">
  <link rel="stylesheet" href="../../../scripts/owlCarousel/owlCarousel.css">

  <!-- JS -->
  <script src="../../../scripts/buildfire.js"></script>
  <!-- Angular, jQuery & Owl Carousel-->

  <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
  <script src="../../../scripts/smartcrop.js"></script>
  <script src="../../../scripts/owlCarousel/owlCarousel.js"></script>
  <script src="../../../scripts/angular/angular.min.js"></script>
  <script src="../../../scripts/angular/angular-route.min.js"></script>
  <script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
  <script src="../../../scripts/angular/angular-touch.js"></script>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App -->
  <script src="../../../scripts/angular/ng-infinite-scroll.custom.js"
          type="application/javascript"></script>
  <script src="assets/js/moment.min.js"></script>
  <script src="app.js" type="application/javascript"></script>
  <script src="controllers/widget.feed.controller.js"
          type="application/javascript"></script>
  <script src="controllers/widget.event.controller.js"
          type="application/javascript"></script>
  <script src="enums.js"></script>
  <script src="app.services.js"></script>
  <script src="../../../scripts/angular/angular-animate.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="../../../styles/transitionAnimation.css">
</head>
<body class="body-scroll">
<div class="slide content infinite-scroll-parent" ng-show="showFeed">
  <div ng-controller="WidgetFeedCtrl as WidgetFeed">
    <div class="holder padding-zero">
      <div class="events-plugin">
        <div class="event-calendar-holder clearfix">
          <div class="event-calendar">
            <div
                ng-class="{'eventDateNew button span:after': !WidgetFeed.eventClassToggle}" ng-style="deviceWidth ? {'min-height': (9 * deviceWidth / 11) + 'px' }:{'min-height': (9 * 320 / 11) + 'px' }">
              <datepicker ng-model="dt" show-weeks="false" max-mode="day"
                          ng-if="WidgetFeed.eventsAll"
                          class="calendar-day" show-year="false"
                          custom-class="getDayClass(date, mode)"
                          ng-click="WidgetFeed.getEventDate(dt)"
                          ng-class="{'avoid-clicks':WidgetFeed.clickEvent}">
              </datepicker>
            </div>
            <div class="event-list">
              <div ng-if="WidgetFeed.data && WidgetFeed.events">
                <div infinite-scroll="WidgetFeed.loadMore()"
                     infinite-scroll-distance="1"
                     data-infinite-container=".infinite-scroll-parent"
                     infinite-scroll-disabled="WidgetFeed.busy">
                  <div class="event-item clearfix"
                       ng-swipe-right="WidgetFeed.addEvents($event, $index, true)"
                       ng-swipe-left="WidgetFeed.addEvents($event, $index, false)"
                       custom-class="getDayClass(date, mode)"
                       ng-class="{'active' : WidgetFeed.swiped[$index]}"
                       ng-repeat="event in WidgetFeed.events">
                    <div class="calendar-icon text-center bg-primary"
                         ng-click="WidgetFeed.addEventsToCalendar(event, $index)">
                      <span class="icon icon-calendar-check"></span>
                    </div>
                    <span class="icon icon-menu rotate-90 pull-left"></span>

                    <div
                        class="event-date text-center pull-left margin-left-ten">
                      <h3 class="text-primary margin-zero">{{event.startDate |
                        getMonthFromTimestamp}}</h3>

                      <h1 class="text-primary margin-zero">{{event.startDate |
                        getDateFromTimestamp}}</h1>
                    </div>
                    <div class="event-info pull-left margin-left-ten m-w-70">
                      <a href="javascript:void(0)"
                         ng-click="WidgetFeed.openDetailsPage(event,$index)"><h4
                          class="margin-bottom-zero text-primary ellipsis">
                        {{ event.SUMMARY || event.DESCRIPTION}}</h4></a>

                      <p class="margin-zero ellipsis"
                         ng-if="event.endDate && !event.isAllDay">{{event.startDate |
                        date:
                        'h:mm a'}} - {{event.endDate | date : 'h:mm a'}}
                        {{event.endDate | getTimeZone}}</p>
                      <p class="margin-zero ellipsis"
                         ng-if="event.endDate && event.isAllDay">{{event.startDate | date :
                        'mediumDate'}} - {{event.endDate | date : 'mediumDate'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="no-event-found padded"
                 ng-if="WidgetFeed.NoDataFound">
              <div class="well">No events found.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-view="" class="slide content" ng-hide="showFeed"></div>
</body>
</html>