<div class="holder padding-zero">
	<div class="events-plugin">
		<div class="plugin-banner clearfix border-bottom-grey">
			<div class="info-circle bg-white">
				<div class="info-circle-inner">
					<h3 class="margin-zero text-primary">{{WidgetEvent.event.startDate |
            getMonthFromTimestamp}}</h3>
					<h1 class="margin-zero text-primary">{{WidgetEvent.event.startDate |
            getDateFromTimestamp}}</h1>
				</div>
			</div>
			<div class="info-bar bg-primary padding-top-five padding-bottom-five">
				<div class="col-xs-12 text-left pull-left">
					<p class="margin-bottom-zero ellipsis">{{WidgetEvent.event.DESCRIPTION}}</p>
					<p class="margin-bottom-zero ellipsis"
             ng-if="WidgetEvent.event.endDate">{{WidgetEvent.event.startDate |
            date:'h:mm a'}} - {{WidgetEvent.event.endDate | date : 'h:mm a'}}</p>
				</div>
			</div>
		</div>
		<div class="padded text-center clearfix">
			<a class="text-primary">Add to Calendar</a>
		</div>
		<div class="text-left padded padding-bottom-zero clearfix">
			<p class="text-center margin-zero text-primary"
         ng-if="WidgetEvent.event.LOCATION">{{WidgetEvent.event.LOCATION}}</p>
			<hr class="small">
			<p>{{WidgetEvent.event.SUMMARY}}</p>
		</div>
	</div>
</div>
