<div class="holder padding-zero">
  <div class="events-plugin">
    <div class="event-calendar-holder clearfix" ng-if="WidgetFeed.eventsAll">
      <div class="event-calendar">
        <div style="display:inline-block; border: none">
          <datepicker ng-model="dt" show-weeks="false" max-mode="day"
                      class="calendar-day" show-year="false"
                      custom-class="getDayClass(date, mode)"
                      ng-click="WidgetFeed.getEventDate(dt)">
          </datepicker>
        </div>
        <div class="event-list">
          <div ng-if="WidgetFeed.data">
            <div infinite-scroll="WidgetFeed.loadMore()"
                 infinite-scroll-distance="1"
                 infinite-scroll-disabled="WidgetFeed.busy">
              <div class="event-item clearfix"
                   ng-swipe-right="WidgetFeed.addEvents($event, $index, true)"
                   ng-swipe-left="WidgetFeed.addEvents($event, $index, false)"
                   custom-class="getDayClass(date, mode)"
                   ng-class="{'active' : WidgetFeed.swiped[$index]}"
                   ng-repeat="event in WidgetFeed.events">
                <div class="calendar-icon text-center bg-primary"
                     ng-click="WidgetFeed.addEventsToCalendar(event)">
                  <span class="icon icon-calendar-check"></span>
                </div>
                <span class="icon icon-menu rotate-90 pull-left"></span>

                <div class="event-date text-center pull-left margin-left-ten">
                  <h3 class="text-primary margin-zero">{{event.startDate |
                    getMonthFromTimestamp}}</h3>

                  <h1 class="text-primary margin-zero">{{event.startDate |
                    getDateFromTimestamp}}</h1>
                </div>
                <div class="event-info pull-left margin-left-ten">
                  <a href="javascript:void(0)"
                     ng-click="WidgetFeed.openDetailsPage(event,$index)"><h4
                      class="margin-bottom-zero text-primary ellipsis">
                    {{event.DESCRIPTION || event.SUMMARY}}</h4></a>

                  <p class="margin-zero ellipsis"
                     ng-if="event.endDate">{{event.startDate | date:
                    'h:mm a'}} - {{event.endDate | date : 'h:mm a'}}
                    {{event.endDate | getTimeZone}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="no-event-found padded"
             ng-if="!WidgetFeed.events.length">
          <div class="well">No events found.</div>
        </div>
      </div>
    </div>
  </div>
</div>